.signup-form {
  width: 300px;
  /* box-shadow: 0 0 3px 0 rgba(0,0,0,0.3); */
  background: rgb(203, 202, 207);
  /* padding: 5px; */
  margin: 5% auto 0;
  text-align: center;
}
.login-form {
  width: 300px;
  /* box-shadow: 0 0 3px 0 rgba(0,0,0,0.3); */
  background: rgb(203, 202, 207);
  /* padding: 5px; */
  margin: 5% auto 0;
  text-align: center;
}
